<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    </head>
    <body>
        <div class="container mt-3 jumbotron">
            <div class="row">
                <h1>{{title}}</h1>
                <img src={{image}} class="img-fluid rounded float-left" alt={{image}} width="100" height="100">
                <p>Name: {{name}}</p>
                <p>Last Name: {{lastname}}</p>
                <p>Age: {{age}}</p>
                <p>Email: {{email}}</p>
                <p>Phone: {{phone}}</p>
                <p>Address: {{address}}</p>
            </div>
            <h3>Products</h3>
            {{#each products}}
                <hr/>
                <div class="row">
                    <div class="col-md-4">
                        <img src={{image}} class="img-fluid rounded float-left" alt={{image}} width="100" height="100">
                    </div>
                    <div class="col-md-8">
                        <p>Name: {{name}}</p>
                        <p>Price: {{price}}</p>
                        <p>Quantity: {{quantity}}</p>
                        <p>Description: {{description}}</p>
                    </div>
                </div>
            {{/each}}
            <hr/>
            <div class="row">
                <div class="col-md-12">
                    <p>Total: {{total}}</p>
                </div>
            </div>
        </div>